Teardown SQL procedure for p0

In [1]:
use P0
DROP TABLE Locations;


DROP TABLE Locations;
DROP TABLE Orders;
DROP TABLE Items;
DROP TABLE Products;
DROP TABLE Customers;

: Msg 3701, Level 11, State 5, Line 2
Cannot drop the table 'Locations', because it does not exist or you do not have permission.

: Msg 3701, Level 11, State 5, Line 5
Cannot drop the table 'Locations', because it does not exist or you do not have permission.

: Msg 3701, Level 11, State 5, Line 6
Cannot drop the table 'Orders', because it does not exist or you do not have permission.

Do I need a Join Table between

> Locations - ItemsÂ 
> 
> Orders - Items

In [ ]:
-- Location Table
use p0
CREATE TABLE Locations
(
    LocationID INT PRIMARY KEY NOT NULL IDENTITY(0,1),
    Address VARCHAR(50) NOT NULL,
    LocationName VARCHAR(50) NOT NULL,
    CONSTRAINT unique_location UNIQUE (Address, LocationName)
)

In [ ]:
-- Orders Table
use p0
CREATE TABLE Orders
(
    --customer foriegn key
    --location foriegn key
    --items    linkback sort of thing
    --date     datetime
)

In [3]:
--Items table
--Foreign key of location
use p0
CREATE TABLE Items
(
    --Foreign key to reference The relavant locations inventory
    -- AKA a linkback
    LocationID INT NOT NULL FOREIGN KEY REFERENCES Locations(LocationID),
    ProductID INT NOT NULL FOREIGN KEY REFERENCES Products(ID),
    Quantity INT CHECK(Quantity >= 0)
    --Primary Key is composite between locationID and ProductID
    PRIMARY KEY (LocationID, ProductID)
)

In [1]:
--Products Table Definition
USE p0
CREATE TABLE Products
(
    ID INT PRIMARY KEY IDENTITY(0,1),
    Name VARCHAR(50) UNIQUE NOT NULL,
    Price float CHECK (Price >= 0.0)
)

In [2]:
--Customer Table Definition
USE p0
CREATE TABLE Customers
(
    ID INT PRIMARY KEY IDENTITY(0,1),
    Name VARCHAR (50) NOT NULL
)